
<link rel= "stylesheet" href= "{{ url_for('static',filename='style.css') }}">
<script type='text/javascript' src="{{ url_for('static',filename='style.js') }}">
</script>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>




<div class="file-upload">
    
    
   <form method="POST" action="#" enctype="multipart/form-data">
      <p><input class="file-upload-btn" type="file" name="k" accept="image/*">
      </p>
      <p><input class="file-upload-btn" type="submit" value="Submit"></p>
    </form>
  

</div>
